In [32]:
import tensorflow as tf
import pandas as pd
import numpy as np
from nltk.stem.lancaster import LancasterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import nltk

In [33]:
embedding = pd.read_table('glove.twitter.27B.25d.txt', sep = " ", header= None)

In [34]:
embedding = embedding.dropna()

In [35]:
len(embedding[0])

1193508

In [36]:
embedding_matrix = embedding[list(range(1,26))].as_matrix()

In [176]:
# editing the input sentences
training_set = pd.read_csv('train.csv', encoding="ISO-8859-1")
training_set.head(3)

            handle                                              tweet
0  realDonaldTrump  In Tampa, Florida- thank you to all of our out...
1  realDonaldTrump  Poll: @realDonaldTrump vs. @HillaryClinton amo...
2   HillaryClinton  Obama on whether Trump could be trusted with U...

In [177]:
training_set['handle']=training_set['handle'].map({'HillaryClinton':1,'realDonaldTrump':0})

In [178]:
training_set.head(3)

   handle                                              tweet
0       0  In Tampa, Florida- thank you to all of our out...
1       0  Poll: @realDonaldTrump vs. @HillaryClinton amo...
2       1  Obama on whether Trump could be trusted with U...

In [179]:
# I adapted this from another a site, need to cite it here
def remove_by_regex(tweets, regexp):
    tweets.loc[:, "tweet"].replace(regexp, "", inplace=True)
    return tweets

def remove_special_chars(tweets):  # it unrolls the hashtags to normal words
    for remove in map(lambda r: re.compile(re.escape(r)), [",", ":", "\"", "=", "&", ";", "%", "$",
                                                                 "@", "%", "^", "*", "(", ")", "{", "}",
                                                                 "[", "]", "|", "/", "\\", ">", "<", "-",
                                                                 "!", "?", ".", "'",
                                                                 "--", "---", "#", "\n" , "—@", "→"]):
        tweets.loc[:, "tweet"].replace(remove, "", inplace=True)
    return tweets

def remove_things(tweets):
    remove_by_regex(tweets, re.compile(r"http.?://[^\s]+[\s]?"))
    remove_by_regex(tweets, re.compile(r"@[^\s]+[\s]?"))
    remove_by_regex(tweets, re.compile(r"\s?[0-9]+\.?[0-9]*"))
    remove_special_chars(tweets)
    return tweets

In [180]:
remove_things(training_set).head(3)

   handle                                              tweet
0       0  In Tampa Florida thank you to all of our outst...
1       0                  Poll vs among white Evangelicals
2       1  Obama on whether Trump could be trusted with U...

In [181]:
#tokenize
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
tokenizer.tokenize
def tok(tweets):
    p = []
    for i in tweets['tweet']:
        tokenizer = RegexpTokenizer(r'\w+')
        p.append(tokenizer.tokenize(i))
    tweets['tok_tweet'] = p
    return tweets

In [182]:
tok(training_set).head(3)

,handle,tweet,tok_tweet
0,0,In Tampa Florida thank you to all of our outst...,"[In, Tampa, Florida, thank, you, to, all, of, ..."
1,0,Poll vs among white Evangelicals,"[Poll, vs, among, white, Evangelicals]"
2,1,Obama on whether Trump could be trusted with U...,"[Obama, on, whether, Trump, could, be, trusted..."

In [183]:
#stemmer
sno = nltk.stem.SnowballStemmer('english')
def stemm(tweets):
    p = []
    for i in tweets['tok_tweet']:
        q = []
        for j in i:
            q.append(sno.stem(j))
        p.append(q)
    tweets['tok_tweet'] = p
    return tweets

In [184]:
stemm(training_set).head(3)

,handle,tweet,tok_tweet
0,0,In Tampa Florida thank you to all of our outst...,"[in, tampa, florida, thank, you, to, all, of, ..."
1,0,Poll vs among white Evangelicals,"[poll, vs, among, white, evangel]"
2,1,Obama on whether Trump could be trusted with U...,"[obama, on, whether, trump, could, be, trust, ..."

In [185]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /soe/rojinsafavi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [186]:
from nltk.corpus import stopwords
def stop_words_eliminatin(tweets):
    p = []
    stop_words = set(stopwords.words('english'))
    for i in tweets['tok_tweet']:
        q = []
        for j in i:
            if j not in stop_words:
                q.append(j)
        p.append(q)
        
    tweets['tok_tweet'] = p
    return tweets

In [187]:
stop_words_eliminatin(training_set).head(3)

,handle,tweet,tok_tweet
0,0,In Tampa Florida thank you to all of our outst...,"[tampa, florida, thank, outstand, volunt, want..."
1,0,Poll vs among white Evangelicals,"[poll, vs, among, white, evangel]"
2,1,Obama on whether Trump could be trusted with U...,"[obama, whether, trump, could, trust, us, nucl..."

In [188]:
# add tokenized sentece length:
P = []
for i in training_set['tok_tweet']:
    length = len(i)
    P.append(length)
training_set['length'] = P

In [189]:
k = []
for i in training_set['tok_tweet']:
    l = []
    for j in i:
        l.append(word_indexes[j])
    k.append(l)
training_set['word_ids'] = k

training_set = training_set[training_set['word_ids'].apply(lambda c: c!=[])] #removing empty tweeets

In [190]:
training_set.head(3)

,handle,tweet,tok_tweet,length,word_ids
0,0,In Tampa Florida thank you to all of our outst...,"[tampa, florida, thank, outstand, volunt, want...",7,"[14387, 3780, 336, 1193508, 668240, 128, 1193509]"
1,0,Poll vs among white Evangelicals,"[poll, vs, among, white, evangel]",5,"[9836, 916, 8634, 811, 469675]"
2,1,Obama on whether Trump could be trusted with U...,"[obama, whether, trump, could, trust, us, nucl...",10,"[1380, 4527, 28622, 296, 978, 290, 11639, 1604..."

In [191]:
len(training_set)

4992

In [192]:
# number of words in our dict:
count = {}
for i in training_set['tok_tweet']:
    for j in i:
        if j not in count:
            count[j] = 1
        else:
            count[j] += 1

In [193]:
len(count)

6444

In [194]:
# find the index of words for the sentence from the embedding
word_indexes = {}

for i,j in enumerate(embedding[0]):
    if j not in word_indexes:
        word_indexes[str(j)] = i
    
for i,j in enumerate(count.keys()):
    if j not in word_indexes:
        word_indexes[str(j)] = len(word_indexes)

In [195]:
h = np.asmatrix([25*[0]]*((len(set(count.keys()) - set(embedding[0])))))

embedding_matrix_with_zero = np.concatenate((embedding_matrix,
                                             h)).astype(np.float32)

In [196]:
embedding_matrix_with_zero.shape

(1195727, 25)

In [197]:
# we need to make all the length similar in our table to have a dense vector
max_len = max(training_set['length'])
max_of_embedding = len(embedding_matrix_with_zero) - 1 # an index with zero values, I know that the last one is zero
padded_lengths = []
for i in range(len(training_set)):
    length = training_set.iloc[i]['length']
    words_ids = training_set.iloc[i]['word_ids']
    difference = max_len - length
    padded_lengths.append(words_ids + difference*[max_of_embedding])
training_set['word_ids'] = padded_lengths

In [198]:
training_set.head(3)

,handle,tweet,tok_tweet,length,word_ids
0,0,In Tampa Florida thank you to all of our outst...,"[tampa, florida, thank, outstand, volunt, want...",7,"[14387, 3780, 336, 1193508, 668240, 128, 11935..."
1,0,Poll vs among white Evangelicals,"[poll, vs, among, white, evangel]",5,"[9836, 916, 8634, 811, 469675, 1195726, 119572..."
2,1,Obama on whether Trump could be trusted with U...,"[obama, whether, trump, could, trust, us, nucl...",10,"[1380, 4527, 28622, 296, 978, 290, 11639, 1604..."

In [263]:
def embedding_fun(embedding_matrix,train_table):
    
    
    word_embeddings = tf.Variable("word_embedding_trial15", [len(embedding_matrix), 25])
    embedded_word_ids = tf.nn.embedding_lookup(embedding_matrix, list(train_table['word_ids']))

        
    return embedded_word_ids

In [264]:
iii = embedding_fun(embedding_matrix_with_zero, training_set)

In [265]:
init = tf.global_variables_initializer()
with tf.Session() as sess:
    init.run()
    iop = iii.eval()

In [266]:
iop.shape

(4992, 24, 25)